.footer-container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    background-color: ghostwhite;
}

ul{
    list-style: none;
}


.social-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}