/* .header-container {
 ;
  } */

/* .header-navs ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
} */

/* .header-navs{
    color: black;
} */

.navbar-menu{
    display: flex;
    color: black;
}


.header-navs ul li{
    /* border: 1px solid #0000000F; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 14px/19px;
    cursor: pointer; */
}


.search-container{
    display: flex;
    width: 600px;
    height: 50px;
    align-items: center;
}

.user-profile{
    text-align: center;
}